<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="phpunit.xsd">
    <testsuites>
        <testsuite name="mod_classroom">
            <directory suffix="_test.php">enrol/autoenrol/tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="logs/logfile.xml"/>
        <!-- Code coverage cannot be analysed unless this plugin is installed within a full
             Moodle installation. This is due to scripts requiring files from elsewhere in
             the Moodle codebase.
                <log type="coverage-clover" target="logs/coverage.xml"/>
                <log type="coverage-html" target="logs/coverage" charset="UTF-8"/>
        -->
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">enrol/autoenrol/</directory>
            <exclude>
                <directory>enrol/autoenrol/tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>